<div class="row">
  <div class="col home">
    <h1 class="hometitle">Rentals</h1>
  </div>
</div>

<!-- This section creates the search tool bar -->

<div class="searchdiv"
<form class="searchform">
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Search by item">
    </div>
    <div class="col-5">
      <input type="text" class="form-control" placeholder="Search by city">
    </div>
    <div class="col">
      <%= link_to "Search", root_url, class: "btn btn-info btn-block" %>
    </div>
  </div>
</form>
</div>
<br>

<!-- This section  iterates through the items in the database using bootstrap-->
<div class="row row_rentals">
  <% @items.all.each do |item| %>
  <div class="col-sm-4 py-2 col_rentals">
    <div class="card h-100" style="width: auto">
      <%= image_tag(item.image_path, height: 180, width: 351) %>
      <div class="card-body">
        <p class="card-title">Item: <%= item.name %></p>
        <p class="card-text"><%= item.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Daily Rental Price $<%= item.price %></li>
      </ul>
      <div class="card-footer">
        <small class="text-muted">Rent Me!</small>
      </div>
    </div>
  </div>
  <% end %>
</div>
