
<div class="row">
  <nav class="col-2">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <%= inline_svg "ski.svg", class: 'feather feather-home', width: 24, height: 24 %>
                  Snow
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <%= inline_svg "basketball.svg", class: 'feather feather-home', width: 24, height: 24 %>
                  Sporting Goods
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <%= inline_svg "adventurer.svg", class: 'feather feather-home', width: 24, height: 24 %>
                  Hiking
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <%= inline_svg "bicycle.svg", class: 'feather feather-home', width: 24, height: 24 %>
                  Wheels
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="col-4">
          <%=image_tag("longboard.jpg")%>


        </div>
        <div class="col-6">


          <p>
            <h3>Longboards</h3>
            <li>
              5 dollars
            </li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>

</div>
<!--<div><small>Icons made by <a href="https://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></small></div>-->
