<div class="row">
  <div class="col home">
    <h1 class="hometitle">Rentals</h1>
  </div>
</div>
<!--
<div class="card">
  <div class="card-body">
    <div class="row">
      <h1>Rentals</h1>
      <div class="col-4">
      </div>
    </div>
  </div>
</div> -->
<div class="searchdiv"
<form class="searchform">
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Search by item">
    </div>
    <div class="col-5">
      <input type="text" class="form-control" placeholder="Search by city">
    </div>
    <div class="col">
      <%= link_to "Search", root_url, class: "btn btn-info btn-block" %>
    </div>
  </div>
</form>
</div>
<br>

<!-- <div class="card-deck">
  <div class="card">
    <img src="images/longboard.jpg" class="card-img-top" alt="longboard">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div> -->

  <div class="container-fluid">
   <% @items.all.each do |item| %>
      <div class="card">
        <%= image_tag(item.image_path, height: '100', width: '100') %>

      <div class="card-body">
       <div class="card-block">
        <p class="card-title">Item: <%= item.name %></p>
        <p class="card-text"><%= item.description %></p>
        <p class="card-text">Daily Rental Price $<%= item.price %></p>
       </div>
     </div>
   <% end %>
</div>
</div>
